
<div class="content" role="main">

  <!-- Highlight Card -->
  <div> <!--  class="card highlight-card card-small" -->

    <h1>{{ title }} app is running!</h1>

  </div>

</div>

<div class="content" role="main">

    <!-- Highlight Card -->
    <div> <!--  class="card highlight-card card-small" -->
        <h2>EMPLOYEE LIST SECTION</h2>
        <app-employee-list></app-employee-list>
    
    </div>

</div>

<div class="content" role="main">
    
    <!-- Highlight Card -->
    <div> <!--  class="card highlight-card card-small" -->
        <h2>EMPLOYEE DETAILS SECTION</h2>
        <app-employee-detail></app-employee-detail>

    </div>

</div>